<head>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

   
    
</head>
<body>
    <div id="app">
        
        <h1>Cormac Doyle : Assignment 2</h1>
        
        <button v-on:click="create_bool = true; CreateDestroyDB();">Create Database</button> <br><br>
        
       
        Movie: <input v-model="movie_search"> Year: <input v-model="year_search"> 
        <button v-on:click="queryDB()">Query Database</button><br><br>

        <button v-on:click="create_bool = false; CreateDestroyDB();">Destroy Database</button> <br><br>
        
        

        
        
        <table border=1>
            <tr>
                <th>
                    Movie Name
                </th>
                <th>
                    Movie year
                </th>
                <th>
                    Release Date
                </th>
                <th>
                    Rank
                </th>
            </tr>
            <tr>
                <td>
                    The ABCs of Death
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-09-15T00:00:00Z
                </td>
                <td>
                    2274
                </td>
            </tr>
            <tr>
                <td>
                    The Act of Killing
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-08-31T00:00:00Z
                </td>
                <td>
                    2022
                </td>
            </tr><tr>
                <td>
                    The Amazing Spider-Man
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-06-13T00:00:00Z
                </td>
                <td>
                    235
                </td>
            </tr><tr>
                <td>
                    The Apparition
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-08-23T00:00:00Z
                </td>
                <td>
                    1621
                </td>
            </tr><tr>
                <td>
                    The Attack
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-09-01T00:00:00Z
                </td>
                <td>
                    4976
                </td>
            </tr><tr>
                <td>
                    The Avengers
                </td>
                <td>
                    2012
                </td>
                <td>
                    2012-04-11T00:00:00Z
                </td>
                <td>
                    48
                </td>
            </tr>
        </table>
        <br/>

        

    </div>

  

    <script>
    // vue app
    var app = new Vue({
        el: '#app',
        data: {
           
            movie_search: "",
            year_search: "",
            movies:{},
            create_bool:false, //state of DB, create =true, destroy = false
           
        },
        methods: {
            queryDB: queryDB,
            CreateDestroyDB: CreateDestroyDB
        }
    })

    
    
    function queryDB(){
        
            console.log("queryDB called")
            let prom = fetch("/movies/" + this.movie_search+"/"+ this.year_search);
            prom.then(response => response.json())
                .then(response =>
                    this.movies = response, 
                )
    }

    
    function CreateDestroyDB(){

        console.log("createDestroyDB called")
            let prom = fetch("/create/" + this.create_bool);
            prom.then(response => response.json())
                .then(response =>
                    this.databaseStatus = response,
                )
        
    
    }

    </script>
</body>


<style>


    
</style>